{% extends 'base.html' %}


{% block body %}

<h3></h3>
    

<form method="post" action="{% url 'submitODE' n %}">
    {% csrf_token %}
    
    
    
    <p>$$($$</p>
    {% for first, second in combined %}
    
    <label class = "labelold" for="$${{first}}$$">  <p>+</p></label>
    <input class = "inputold" type="text" name="{{first}}">
    <p>$$D^{ {{second}} }$$</p>
    {% endfor %}

    
    <label class = "labelold" style="display: inline-block;" for="y"><p>+</p></label>
    <input class = "inputold" type="text" name="y">
    <p class = "pcss1" >$$ ) y$$</p>
    
    
    <label class = "labelold" style="display: inline-block;" for="constant"><p>=</p></label>
    <input class = "inputold" type="text" name="constant">
    


    {% comment %} newcodefromhere {% endcomment %}

    <br><br>

    <label for="particularcheckbox">Do you want to find particular solution as well?</label>
    <input type="checkbox" class="inputold" name="particularcheckbox">
    
    <br><br>
    
    {% for z in semicolon_list  %}
    

    <label for="particularx{{z}}" class="labelold">$$y{{z}}($$</label>
    <input type="text" class="inputold" name="particularx{{z}}" >
    <label for="particulary{{z}}" class="labelold">$$)=$$</label>
    <input type="text" class="inputold" name="particulary{{z}}" >
    <br>
    {% endfor %}
    
    




    
    </br>
    <input type="submit" value="Submit">
</form>


{% endblock %}