{% extends 'base.html' %}




{% block body %}
<br><br>
<h4 class="comeheremiddle">Your Input ODE: </h5>
<div id="equation">
    $${{ input | safe }}$$
</div>
<br><br>

<h4 class="comeheremiddle">General Solution: </h5>
<div id="equation">
    $${{ gsoln | safe }}$$
</div>
<br><br>

{% if particularexist == 1 %}
<h4 class ="comeheremiddlee">Particular Solution for </h4>
<h6>$${{initial_conditions}}:$$</h6>
<br>
<div id="equation">
    $${{ psoln | safe }}$$
    <br><br><br><br>
</div>
{% endif %}

{% endblock %}